<section class="gutbbl-sec">
    <div class="container">
        <h3 class="sec-titl">
            <p>What's Your Gut Feeling?</p>
            The Gut Bible </h3>
    </div>

    {% assign blog = blogs['the-gut-bible'] %}  <!-- Replace 'handle' with the blog handle -->
          {% for article in blog.articles %}


         <div class="owl-carousel owl-theme bestslr-slider">
                            <div class="item">
                                <div class="sell-prodct-card darkpink">
                                    <div class="img-hldr">
                                        <img src="{{ 'product1.svg' | asset_url }}" alt="Lovebug">
                                        <div class="prdct-txt">
                                            <p>Kids Health</p>
                                            <a href="#" class="addbtn">Add</a>
                                        </div>
                                    </div>

                                    <div class="prodct-footer">
                                        <div class="prdctrating-wrpr d-flex">
                                            <p><i><img src="{{ '5star2.svg' | asset_url }}" alt="lovebug"></i> <span>4.8</span></p>
                                            <p>$23.95</p>
                                        </div>
                                        <h6>Kids Probiotic Chewables</h6>
                                        <p class="ageofuse">4+ Years</p>
                                    </div>
                                </div>
                            </div>
                           
                         

                        </div>

                    </div>






          <h1>{{article.tags}}{{article.metafields.custom.read_time}}</h1>
         <img src="{{article.image | image_url: width: 60}}"/> 
            <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
            <p>{{ article.excerpt }}</p>
          {% endfor %}
</section>

<style>
  .gutbbl-sec:before, .gutbbl-sec:after{
     background: url({{ 'sectionwhite-shape.svg' | asset_url }}) no-repeat;
     background-size:100%;
  }

  .gutbbl-sec:after{
      top: auto;
      bottom: -90px;
      transform: rotate(180deg);
  }
</style>

{% schema %}
  {
    "name": "Blog Section",
    "settings": []
  }
{% endschema %}