<section class="gutbbl-sec">
    <div class="container">
        <h3 class="sec-titl">
            <p>What's Your Gut Feeling?</p>
            The Gut Bible </h3>
    </div>

    {% assign blog = blogs['the-gut-bible'] %}  <!-- Replace 'handle' with the blog handle -->
       
        <div class="owl-carousel owl-theme bestslr-slider">
          {% for article in blog.articles %}  
            <div class="item">
              
                <div class="sell-prodct-card darkpink">
                              <div class="img-hldr">
                                  <img src="{{article.image | image_url: width: 60}}" alt="Lovebug">
                                  <div class="prdct-txt">
                                      <p>{{article.tags}}{{article.metafields.custom.read_time}}</p>
                                      <a href="{{ article.url }}">{{ article.title }}</a>
                                  </div>
                              </div>

                          <div class="prodct-footer">
                              <div class="prdctrating-wrpr d-flex">
                                  {{ article.excerpt }}
                                
                              </div> 
                          </div>
                      </div>
                    </div>        
                </div>
          {% endfor %}
        </div>
         

</section>

<style>
  .gutbbl-sec:before, .gutbbl-sec:after{
     background: url({{ 'sectionwhite-shape.svg' | asset_url }}) no-repeat;
     background-size:100%;
  }

  .gutbbl-sec:after{
      top: auto;
      bottom: -90px;
      transform: rotate(180deg);
  }
</style>

{% schema %}
  {
    "name": "Blog Section",
    "settings": []
  }
{% endschema %}