<!-- why lovebug section -->

  <section class="why-lovebug-sec">
      <div class="container-fluid">
        <div class="sction-bgicon one">
            <img src="{{ 'bacteria-1.svg' | asset_url }}" alt="lovebug">
        </div>
        <div class="sction-bgicon two">
            <img src="{{ 'batcteria-3.svg' | asset_url }}" alt="lovebug">
        </div>
        <div class="sction-bgicon three">
            <img src="{{ 'batcteria-2.svg' | asset_url }}" alt="lovebug">
        </div>
        <div class="sction-bgicon four">
            <img src="{{ 'bacteria-4.svg' | asset_url }}" alt="lovebug">
        </div>
        <div class="sction-bgicon five">
            <img src="{{ 'lactobacillus-acidophilus.svg' | asset_url }}" alt="lovebug">
        </div>
        <h3 class="sec-titl">
            <p>Built For Adults</p>
            Why Lovebug
        </h3>

        <div class="grkmod-wrpr">

          <div class="greekmode">
              <input type="checkbox" name="geekmode" id="geekmode2">
              <label for="geekmode2">GEEK MODE</label>
          </div>

          <div class="subhding-wrpr">
            <p>Probiotics literally means “for life”.</p>
            <p>At LoveBug, when we use the term probiotics, we’re talking about </br>the good bacteria which live inside of your gut.</p>
          </div>
        </div>

       <div class="container">
          <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="whylv-card">
                        <i><img src="{{ 'frimlyicon.svg' | asset_url }}" alt="lovebug"></i>
                        <h6>Firmly Rooted In Science</h6>
                        <p>Donec placerat sapien ac erat eleifend, ac sagittis nisi sodales</p>
                    </div>

                    <div class="whylv-card">
                        <i><img src="{{ 'multi-strinicon.svg' | asset_url }}" alt="lovebug"></i>
                        <h6>Multi-Strain Superior Probiotics</h6>
                        <p>Donec placerat sapien ac erat eleifend, ac sagittis nisi sodales</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <img src="{{ 'whylobeimage.svg' | asset_url }}" alt="lovebug" class="whybtl">
                </div>

                <div class="col-md-3 col-sm-12">
                    <div class="whylv-card">
                        <i><img src="{{ 'no-uncryicon.svg' | asset_url }}" alt="lovebug"></i>
                        <h6>No Unnecessary Ingredients</h6>
                        <p>Donec placerat sapien ac erat eleifend, ac sagittis nisi sodales</p>
                    </div>

                    <div class="whylv-card">
                        <i><img src="{{ 'thorolyicon.svg' | asset_url }}" alt="lovebug"></i>
                        <h6>Thoroughly 3rd Party Tested</h6>
                        <p>Donec placerat sapien ac erat eleifend, ac sagittis nisi sodales</p>
                    </div>
                </div>

              <a href="#" class="common-btn">Our Journey</a>
                
            </div>
       </div>
      </div>
  </section>


{% schema %}
  {
    "name": "Why Lovebug Section",
    "settings": []
  }
{% endschema %}